<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.his.model.mapper.CheckItemRecordMapper">
	<insert id="saveCIRecord" parameterType="Checkitemrecord">
		insert into checkitemrecord(patientid,checkitemid,count,price,paystatus,status,operator,operatedate)
		values (#{patientid},#{checkitemid},#{count},#{price},#{paystatus},#{status},#{operator},#{operatedate})
	</insert>
	
	<update id="getPatientAndPaysByNo" parameterType="map">
		update checkitemrecord
		set paystatus=#{paystatus}, operator=#{operator},operatedate=#{operatedate}
		where patientid=#{patientid}
	</update>
	
</mapper>